root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,csproj,props,targets,bicep}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Namespaces
csharp_style_namespace_declarations = file_scoped:suggestion
# var preferences
csharp_style_var_when_type_is_apparent = true:suggestion
# Modern C#
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_diagnostic.CA2007.severity = none
